.example-form-field {
    margin-right: 20px;
  }

  #calendarLabel{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
 }
  
 #calendarDate{
    width: 194px;
    height: 53px;
    padding: 20px;
    margin-left: 10px;
 }
 