.example-form-field {
    margin-right: 20px;
  }

  #calendarLabel{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
 }
  
 #calendarDate{
    width: 194px;
    height: 53px;
    padding: 20px;
    margin-left: 10px;
 }
 button {
   background-color: #6051b8;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 8px 2px;
   cursor: pointer;
 }
 .containe
 {
    align-items: center;

 }
 #defaultGroupExample2{
   padding-top: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
   padding-left: 1000px;
   
 }
 #defaultGroupExample3{
   padding-top: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   
 }

 .radio-container {
   font-size: 24px;
   padding: 8px;
 }

 input[type="radio"]{
   margin: 0 10px 0 10px;
 }
 