table {
    width: 100%;
    font-family: Robotomono;
    text-decoration-color: white;
    background-color: black;
  }
  td {
    color: white;
    text-decoration-color: white;

  }
  tr {
    color: white;
    text-decoration-color: white;

  }
  th{
    color: white;
    text-decoration-color: white;

  }
  mat-paginator {
    background-color: black;
    width: 100%;
    color: white;
  }
  