 <body>
    <form style=" width: 50vw; margin-left : 25vw;" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
        <h3>Skill Set</h3>
            <div>
                <label>Primary Skill</label>
                <br>
                <input type="text" name="primarySkill" id="primarySkill" placeholder="Enter your Primary Skill" ngModel>
            </div>
            <div>
                <label>Secondary Skill</label>
                <br>
                <input type="text" name="secondarySkill" id="secondarySkill" placeholder="Enter your Secondary Skill" ngModel>
            </div>
            <div>
                <label>Other Skills</label>
                <br>
                <input type="text" name="otherSkills" id="otherSkills" placeholder="Enter your other skills" ngModel>
            </div>
        <div class="form-action-buttons">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>


