<mat-toolbar color="primary" class="mat-elevation-z8">
    <!-- <div class="navbar-brand"> -->
        <a class="navbar-item">
            <img src="assets/img/acc.jpg">
            <!-- <img src="http://picasaweb.google.com/data/entry/api/user/<moksha.gowtham@accolitedigital.com>?alt=json">
                 <img src="https://pikmail.herokuapp.com/eduardo.alejandro.nandini.luthra@accolitedigital.com?size=10" alt="Profile Picture">  -->
                
    
        </a>

        
    <div style = "position:fixed; left:80px; top:20px;">
        ACCOLITE
    </div>
    
   
     <div class="spacer"></div>
   
    <a mat-button routerLink="INTERVIEWS TAKEN">INTERVIEWS TAKEN</a>
    <a mat-button routerLink="INCENTIVES">INCENTIVES</a>
    <a mat-button routerLink="EDIT SKILLS">EDIT SKILLS</a>
    <a mat-button routerLink="PROVIDE SLOTS">PROVIDE SLOTS</a>
    <a mat-button routerLink="VIEW SLOTS">VIEW SLOTS</a>
    <a mat-raised-button color="accent" routerLink="LOGOUT">LOGOUT</a>
  
    

   </mat-toolbar>
   