<mat-toolbar color="primary" class="mat-elevation-z8">
    <!-- <div class="navbar-brand"> -->
        <a class="navbar-item">
            <img src="assets/img/acc.jpg" class="image1">
            <!-- <img src="http://picasaweb.google.com/data/entry/api/user/<moksha.gowtham@accolitedigital.com>?alt=json">
                 <img src="https://pikmail.herokuapp.com/eduardo.alejandro.nandini.luthra@accolitedigital.com?size=10" alt="Profile Picture">  -->
                
    
        </a>

        
    <div style = "position:absolute; left:80px; top:20px;">
        ACCOLITE
    </div>
    
   
     <div class="spacer"></div>
   
    <a mat-button routerLink="/interviewhistory">INTERVIEWS TAKEN</a>
    <a mat-button routerLink="/incentives">INCENTIVES</a>
    <a mat-button routerLink="/addskill">EDIT SKILLS</a>
    <a mat-button routerLink="/provideslots">PROVIDE SLOTS</a> 
     <!-- <a href =mat-button routerLink="VIEW SLOTS">VIEW SLOTS</a>  -->
     <a mat-button routerLink="/viewslots">VIEW SLOTS</a> 

    <!-- <a href="\provideslots">PROVIDE SLOTS</a> -->
    <a mat-raised-button color="accent" routerLink="/login">LOGOUT</a>
    <!-- <a href="\candidate"><button class="customText" id="downloadCandidateDetailsButton">View Candidate Details</button></a> -->
    <img src="assets/img/acc.jpg" class="image2">
  
    

   </mat-toolbar>
   
